@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --mainGrey: #F9F9FA;
  --mainBlack: #0A0A0A;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
}
body {
  font-family: "Quicksand", sans-serif;
  background: var(--mainGrey);
  color: var(--mainBlack);
  font-size: 18px;
  overflow: hidden;
}